<mat-list *ngIf="livro; else semRegistro">
    <mat-list-item>Título: {{livro.titulo}}</mat-list-item>
    <mat-list-item class="quebrar-linha">Data de lançamento: {{livro.dtLancamento | date: 'dd/MM/yyyy'}}</mat-list-item>
    <mat-list-item>Gênero: {{livro.genero}}</mat-list-item>
    <mat-list-item>Descrição: {{livro.descricao}}</mat-list-item>
    <mat-list-item>Nota: <a [href]="livro.urlSkoob" target="_blank">{{livro.nota}}</a></mat-list-item>
    <img mat-card-image [src]="livro.urlCapa || semCapa">
</mat-list>
<mat-card>
    <mat-card-actions>
        <button color="accent" mat-raised-button (click)="editar()">Editar</button>
        <button color="warn" mat-raised-button (click)="excluir()">Excluir</button>
    </mat-card-actions>
</mat-card> 

<ng-template #semRegistro>
    <h1 class="full-width main-div" center>Nenhum registro encontrado</h1>
  </ng-template>