<mat-toolbar class="app-title">Livros Cadastrados</mat-toolbar>
<div class="home-content" infiniteScroll (scrolled)="onScroll()">

  <mat-card class="home-card" *ngFor="let livro of livros">
    <mat-card-header>
      <div mat-card-avatar ></div>
      <mat-card-title>{{livro.titulo}}</mat-card-title>
      <mat-card-subtitle>{{livro.genero}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="filme.urlCapa">
    <mat-card-content>
      <p>
        {{livro.descricao}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" mat-raised-button>Abrir</button>
    </mat-card-actions>
  </mat-card>
</div>
